{% extends 'base.html' %}
{% load static %}



{% block content %}
<h1> {{context.title}} </h1>
<hr>
<div class="row">
    <div class="col-6">
        <h4> Первичные метрические характеристики: </h4>
        <hr>
        <form action='' id="param1" method="POST">
            {% csrf_token %}
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Вводимые переменные для расчетов и для обеспечения вывода</label>
                    <input class="form-control" id='P' name="Вводимые переменные" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Весовой коэффициент</label>
                    <input class="form-control" id='PWeight' name="Весовой коэффициент P" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Модифицируемые, или создаваемые внутри программы переменные</label>
                    <input class="form-control" id='M' name="Модифицируемые переменные" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Весовой коэффициент</label>
                    <input class="form-control" id='MWeight' name="Весовой коэффициент M" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Переменные, участвующие в управлении работой программного модуля (управляющие переменные)</label>
                    <input class="form-control" id='C' name="Переменные, уч. в управлении" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Весовой коэффициент</label>
                    <input class="form-control" id='CWeight' name="Весовой коэффициент С" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Не используемые в программе («паразитные») переменные</label>
                    <input class="form-control" id='T' name="Не используемые переменные" onchange="calculate()">
                </div>
                <div class="mb-3">
                    <label class="form-label">Весовой коэффициент</label>
                    <input class="form-control" id='TWeight' name="Весовой коэффициент T" onchange="calculate()">
                </div>
                <hr>
                <div class="row justify-content-md-center">
                    <div class="col">
                        <button class='btn btn-primary' type="submit" style="width: 200px">Сохранить в БД</button>
                    </div>
                    <div class="col">
                        <button class='btn btn-primary' type="button" style="width: 200px" onclick="location.reload();">Очистить форму</button>
                    </div>
                    <div class="col">
                        <button class='btn btn-primary' type="button" style="width: 200px" onclick="get_pdf()">Отчёт</button>
                    </div>
                </div>
                <hr>
            </div>
        </form>
    </div>
    <div class="col-6">
        <h4> Рассчитанные метрические характеристики: </h4>
        <hr>
        <form id="param2">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Метрика Чепина</label>
                <input class="form-control" name="Метрика Чепина" id="Q" readonly>
            </div>
        </form>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вводимые переменные</th>
                <th scope="col">Вес1</th>
                <th scope="col">Модифицируемые переменные</th>
                <th scope="col">Вес2</th>
                <th scope="col">Переменные управления</th>
                <th scope="col">Вес3</th>
                <th scope="col">Не исп. переменные</th>
                <th scope="col">Вес4</th>
                <th scope="col">-</th>
            </tr>
            </thead>
            <tbody>
            {% for p in context.my_param %}
            <tr>
                <td>{{ p.param1 }}</td>
                <td>{{ p.param2 }}</td>
                <td>{{ p.param3 }}</td>
                <td>{{ p.param4 }}</td>
                <td>{{ p.param5 }}</td>
                <td>{{ p.param6 }}</td>
                <td>{{ p.param7 }}</td>
                <td>{{ p.param8 }}</td>
                <td><button type="button" class="btn btn-outline-primary" onclick="choose_param(this)">Выбрать</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    function calculate() {
        console.log('Calculate');

        const P = Number(document.getElementById('P').value);
        const M = Number(document.getElementById('M').value);
        const C = Number(document.getElementById('C').value);
        const T = Number(document.getElementById('T').value);
        const PWeight = Number(document.getElementById('PWeight').value);
        const MWeight = Number(document.getElementById('MWeight').value);
        const CWeight = Number(document.getElementById('CWeight').value);
        const TWeight = Number(document.getElementById('TWeight').value);

        <!--    Словарь    -->
        const Q = PWeight * P + MWeight * M + CWeight * C + TWeight * T;
        document.getElementById('Q').value = Q;

    }

    function get_pdf(){
        data = new FormData(document.getElementById('param1'));
        data.append('new_table', 'Рассчитываемые параметры')
        data2 = new FormData(document.getElementById('param2'));
        for(var pair of data2.entries()){
            data.append(pair[0], pair[1]);
        }
        console.log('data=', data);
        const url = 'http://'+window.location.hostname+':'+window.location.port+'{% url "get_pdf" %}';
        fetch(url,
         { method: 'POST', body: data, credentials: 'same-origin',})
         .then(response=>response.blob())
         .then(data=>{
                const anchorElement = document.createElement('a');
                const url = window.URL.createObjectURL(data);
                anchorElement.href = url;
                anchorElement.download = 'Отчёт метрика Чепина';
                anchorElement.click();
             });
    }

    function choose_param(button){
        document.getElementById('P').value =button.parentNode.parentNode.childNodes[1].innerHTML;
        document.getElementById('PWeight').value =button.parentNode.parentNode.childNodes[3].innerHTML;
        document.getElementById('M').value =button.parentNode.parentNode.childNodes[5].innerHTML;
        document.getElementById('MWeight').value =button.parentNode.parentNode.childNodes[7].innerHTML;
        document.getElementById('C').value =button.parentNode.parentNode.childNodes[9].innerHTML;
        document.getElementById('CWeight').value =button.parentNode.parentNode.childNodes[11].innerHTML;
        document.getElementById('T').value =button.parentNode.parentNode.childNodes[13].innerHTML;
        document.getElementById('TWeight').value =button.parentNode.parentNode.childNodes[15].innerHTML;
        calculate();
    }
</script>

{% endblock %}
