{% extends 'base.html' %}
{% load static %}



{% block content %}
<h1> {{context.title}} </h1>
<hr>
<form action='' method="POST">
    <div class="row">
        <div class="col">
            <h4> Исходный код: </h4>
                {% csrf_token %}
                <div class="col">
                    <div class="mb-3">
                        <textarea class="form-control" name='code_text' rows="35">{{ context.form.code_text }}</textarea>
                    </div>
                </div>
        </div>
        <div class="col">
            <h4>Словарь оперантов:</h4>
            <div class="mb-3">
                <textarea class="form-control" name='operant_dict' rows="18">{{ context.form.operant_dict }}</textarea>
            </div>
            <hr>
            <h4> Параметры из исходного кода: </h4>
                {% csrf_token %}
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Число простых (уникальный) операторов n1</label>
                        <input class="form-control" id='n1' value="{{ context.code_params.Unic_operator }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Число простых (уникальный) операндов n2</label>
                        <input class="form-control" id='n2' value="{{ context.code_params.Unic_operand }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Общее число всех операторов N1</label>
                        <input class="form-control" id='BN1' value="{{ context.code_params.All_operator }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Общее число всех операндов N2</label>
                        <input class="form-control" id='BN2' value="{{ context.code_params.All_operand }}">
                    </div>
                </div>
        </div>
    </div>
    <div class="d-grid gap-1 mx-auto">
        <button type="submit" class="btn btn-primary">Расчёт</button>
    </div>
</form>

<script>

</script>

{% endblock %}
